@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.peter{
    color: orange;
}
.section-flex{
    display: flex;
    margin-bottom: 180px;
}
.top-banner{
    background: url(./images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.half-width, .half-width-ex{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img {
    width: 100%;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient(to right, rgb(226, 159, 13) , rgb(138, 121, 25));
    padding: 10px 40px;
    color: azure;
    font-weight: 500;
    border-radius: 5px;
}
.dream-big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width-ex{
    box-shadow: 10px 10px 40px rgb(133, 125, 125);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 15px;
}
.experience{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 8px solid tomato;
}
#baby{
    border-left: 8px solid blue;
}
footer p {
    text-align: center;
}